---
# mode can be:
# plot | will only plot until no more free space
# replot | will plot like plot, but if no space made, will remove plot file with lower compression level
mode: plot

farmer_key: a256cf662bcb97c03ffb9f5a46101bc474a09a13991730e53fa03f195b9668aed331d5a4fe64bad87fe96a4692a178f4
contract_key: xch1tqlg956zauwf8tsljrafg5mwmnksrcgtzl9h6c9e9zrj27rrg0kqjm3gl3
compression_level: 5

plotter_enabled: true

directories_to_plot:
  - J:\
  - N:\
  - G:\
  - F:\

plot_with_128GO_ram_only: true
tmp_plot_directory_for_128go_ram_support: E:\tmp

use_staging_directories: true
staging_directories:
  - I:\plots

